<section>

    <h4 class="title">Add Action</h4>
    <div class="field has-addons">
        <div class="columns w-100 ">
            <div class="column is-four-fifths">
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Description</label>
                            <div class="control">
                                <input class="input" :disabled="register.action.editId" type="text" v-model="register.action.name" placeholder="Description">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Path</label>
                            <div class="control">
                                <input class="input" type="text" v-model="register.action.path" placeholder="Path">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Type</label>
                            <div class="control">
                                <div class="select">
                                    <select v-model="register.action.actionType">
                                        <option value="" selected>Select</option>
                                        <option value="setValue">Set Value</option>
                                        <option value="invokeMethod">Invoke Method</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column" v-show="register.action.actionType == 'invokeMethod'">
                        <div class="field">
                            <label class="label">Method</label>
                            <div class="control">
                                <input class="input" type="text" v-on:change="isValid()" v-model="register.action.method" placeholder="Method">
                            </div>
                        </div>
                    </div>
                    <div class="column" v-show="register.action.actionType == 'setValue'">
                        <div class="field">
                            <label class="label">Property</label>
                            <div class="control">
                                <input class="input" type="text" v-model="register.action.property" placeholder="Property">
                            </div>
                        </div>
                    </div>
                    <div class="column" v-show="register.action.actionType == 'setValue'">
                        <div class="field">
                            <label class="label">Value</label>
                            <div class="control">
                                <input class="input" type="text" v-model="register.action.value" placeholder="Value">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column ">
                <a class="button w-100 is-info is-outlined m-t-24" v-on:click="addAction()" :disabled="!register.action.isValid">
                    Add Action
                </a>
            </div>
        </div>
    </div>
    <article class="message is-danger is-small" v-if="register.action.message">
        <div class="message-body">
            {{register.action.message}}
        </div>
    </article>
    <hr>
    <h4 class="title">Action List</h4>
    <div class="box b-0 p-0" v-for="item in actions">
        <div class="relative title-content list-title" v-on:click="toogleExpand(item.id)" v-bind:class="{ isProduction: item.isProduction, expanded: register.action.expanded[item.id]}">
            <p class="reset">{{ item.name }}</p>
            <span class="delete remove" aria-label="delete" v-on:click="removeAction(item.id)"></span>
        </div>
        <div class="list-list">
            <ul class="reset">
                <li class="host-item">
                    <label>Path:</label> {{ item.path }}
                </li>
                <li class="host-item" v-if="item.method">
                    <label>Method:</label> {{ item.method }}
                </li>
                <li class="host-item" v-if="item.property">
                    <label>Property:</label> {{ item.property }}
                </li>
                <li class="host-item" v-if="item.value">
                    <label>Value:</label> {{ item.value }}
                </li>
                <li class="host-item">
                    <div class="columns">
                        <div class="column is-three-quarters"></div>
                        <div class="column">
                            <a class="button w-100 is-info is-outlined" v-on:click="editAction(item.id)">
                                Edit Action
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>