<section>
    <h4 class="title">Import Data</h4>
    <div class="field has-addons">
        <div class="columns w-100">
            <div class="column is-one-fifth">
                <a class="button w-100 is-info is-outlined" v-on:click="importData()">
                   Import Data
                </a>
            </div>
            <div class="column is-one-fifth">
                <a class="button w-100 is-info is-outlined" v-on:click="exportData()">
                   Export Data
                </a>
            </div>
            <div class="column is-one-fifth">
                <a class="button w-100 is-info is-outlined" v-on:click="mergeData()">
                   Merge Data
                </a>
            </div>
        </div>
    </div>
</section>